.rounded-section {
  border: 0;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

header.rounded-section {
  border-radius: 0 0 1rem 1rem;
  background-color: rgb(33, 203, 73);
}

#Search-Container.rounded-section {
  background-color: rgb(15, 218, 15);
}

#Search-History.rounded-section {
  background-color: rgb(11, 157, 62);
}

#No-Search.rounded-section {
  background-color: rgb(77, 14, 236);
}

#Current-Weather.rounded-section {
  background-color: rgb(244, 84, 26);
}

#Forecast.rounded-section {
  background-color: rgb(247, 236, 108);
}


#Forecast .rounded-section {
  background-color: rgb(6, 248, 58);
  flex-shrink: 1;
}

.rounded-section button {
  border-radius: 1rem;
};